@keyframes back {
  0% {
    transform: rotateZ(0);
    background-size: 60%;
  }

  100% {
    background-size: 60%;
    transform: rotateZ(-2turn);
  }
}

@keyframes cell {
  0% {
    color: transparent;
    background-color: $secondary;
  }

  100% {
    color: transparent;
    transform: rotateY(-2turn);
    background-color: $secondary;
  }
}