@import './variables';
@import './animations';

html {
  overflow: hidden;
}

body {
  margin: 0;
  padding-top: $dpx * 15;
  display: flex;
  align-items: start;
  justify-content: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
  overflow-y: hidden;
  font-family: sans-serif;
  font-size: $dpx * 24;
  font-weight: 900;
}

.rules {
  text-align: center;
  font-size: $dpx * 16;
  color: $secondary;
  margin: $dpx * 10 0 0 0;
  padding: 0 $dpx * 10;

}

.field-cell {
  background: $secondary;
  width: $dpx * 75;
  height: $dpx * 75;
  border-radius: 5px;
  color: $primery;
  box-sizing: border-box;
  text-align: center;
  vertical-align: center;
  user-select: none;
  font-size: $dpx * 30;
  color: $secondary;

  &--2 {
    background: #f5f6dd;
  }

  &--4 {
    background: #d0d19e;
  }

  &--8 {
    background: #e0e33b;
  }

  &--16 {
    background: #d1d406;
  }

  &--32 {
    background: #c8ca51;
  }

  &--64 {
    background: #ccb255;
  }

  &--128 {
    background: #67b867;
  }

  &--256 {
    background: #40b540;
  }

  &--512 {
    background: #29c729;
  }

  &--1024 {
    background: #12de12;
  }

  &--2048 {
    background: #03f903;
  }
}

.game-field {
  background: #86b5ce;
  border-spacing: $dpx * 10;
  border-radius: $dpx * 5;
}

.game-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: $dpx * 10;
  box-sizing: border-box;
}

.score-record {
  width: 100%;
  height: $dpx * 75;
  border-radius: $dpx * 5;
  font-size: $dpx * 22;
  margin: 0 $dpx * 7 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $secondary;
  color: $primery;
  position: relative;

  & p {
    margin: 0;
  }

  & button {
    font-size: $dpx * 10;
    font-weight: bold;
    line-height: $dpx * 10;
    letter-spacing: $dpx * 1.1;
    color: $secondary;
    margin: $dpx * 5;
    padding: $dpx * 4 $dpx * 7 $dpx * 2 $dpx * 7;
    position: absolute;
    background-color: white;
    left: 0;
    bottom: 0;
    border: none;
    border-radius: $dpx * 3;
  }

}

h1 {
  background: $secondary;
  color: $primery;
  width: 100%;
  height: $dpx * 75;
  font-size: $dpx * 34;
  font-weight: 900;
  letter-spacing: $dpx * 5;
  border-radius: $dpx * 5;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
  
  & span {
    letter-spacing: $dpx * 12;
    margin-left: $dpx * 12;
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $secondary;
  width: $dpx * 75;
  height: $dpx * 75;
  border-radius: $dpx * 5;
  color: $primery;
  box-sizing: border-box;
  font-size: $dpx * 16;
  margin: 0 $dpx * 8 0 0;
}

.controls {
  display: flex;
}

.button {
  font-family: sans-serif;
  font-weight: 900;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: $dpx * 5;
  box-shadow: inset $dpx * 2 $dpx * 2 $dpx * 2 rgba(0, 0, 0, 0.2),
              inset $dpx * -2 $dpx * -2 $dpx * 2 rgba(0, 0, 0, 0.2);

  &:hover {
    filter: brightness(.9);
  }

  &:active {
    scale: .9;
  }
}

.control {
  width: $dpx * 75;
  height: $dpx * 75;
  font-size: $dpx * 16;
  color: #f9f6f2;
  transition: 0.25s ease background;
}

.start {
  background: #1dae28;
  font-size: $dpx * 20;
}

.restart {
  background: #f87474;
  font-size: $dpx * 18;
}

.arrows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: $dpx * 350;
  gap: $dpx * 6;
  margin-top: $dpx * 20;

  &-row {
    display: flex;
    gap: $dpx * 6;
  }
}

.arrow {
  background: $secondary; 
  color: $primery;
  width: $dpx * 75;
  height: $dpx * 75;
  font-size: $dpx * 20;
}

.message {
  box-sizing: border-box;
  width: $dpx * 350;
  height: $dpx * 60;
  line-height: $dpx * 40;
  padding: $dpx * 10;
  padding-left: $dpx * 30;
  text-align: center;
  border-radius: $dpx * 5;
  font-size: $dpx * 19;
  position: absolute;

  & span {
    position: absolute;
    left: 0;
    transform: translate(25%, 6%);
    font-size: $dpx * 40;
  }
}

.hidden {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $dpx * 350;
}

.message-start {
  background: rgba($color: $secondary, $alpha: .3);
  color: $secondary;
}

.message-win {
  background: #1dae28;
  color: #f9f6f2;
}

.message-lose {
  background: #bc452a;
  color: #f9f6f2;
}

.message-container {
  width: 100%;
}

.merged {
  position: relative;
  animation: cell 1s;

  &::before {
    content: '';
    width: $dpx * 100;
    height: $dpx * 100;
    position: absolute;
    top: -18%;
    left: -18%;
    z-index: 2;
    background-image: url('/images/star.png');
    background-repeat: no-repeat;
    background-size: 0%;
    background-position: center;
    animation: back 1s;
  }
}
