@charset "UTF-8";
/* Линейка синих оттенков */
/* Очень светлый голубой */
/* Светло-голубой */
/* Небесно-голубой */
/* Нежно-голубой */
/* Синий */
/* Яркий синий (Dodger Blue) */
/* Васильковый */
/* Королевский синий */
/* Средне-синий */
/* Темно-синий */
/* Флотский синий */
/* Полуночный синий */
@keyframes back {
  0% {
    transform: rotateZ(0);
    background-size: 90%;
  }
  100% {
    background-size: 90%;
    transform: rotateZ(-2turn);
  }
}
@keyframes cell {
  0% {
    font-size: 0.1rem;
    color: transparent;
    background-color: #0b6ce2;
  }
  100% {
    color: transparent;
    font-size: 3rem;
    transform: rotateY(-2turn);
    background-color: #0b6ce2;
  }
}
@keyframes background-round {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
html {
  overflow: hidden;
}

body {
  margin: 0;
  padding-top: 1.5vh;
  display: flex;
  align-items: start;
  justify-content: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
  overflow-y: hidden;
  font-family: sans-serif;
  font-size: 2.4vh;
  font-weight: 900;
}

.rules {
  text-align: center;
  font-size: 1.6vh;
  color: #0b6ce2;
  margin: 1vh 0 0 0;
  padding: 0 1vh;
}

.field-cell {
  background: #0b6ce2;
  width: 7.5vh;
  height: 7.5vh;
  border-radius: 5px;
  color: white;
  box-sizing: border-box;
  text-align: center;
  vertical-align: center;
  user-select: none;
  font-size: 3vh;
  color: #0b6ce2;
}
.field-cell--2 {
  background: #f5f6dd;
}
.field-cell--4 {
  background: #d0d19e;
}
.field-cell--8 {
  background: #e0e33b;
}
.field-cell--16 {
  background: #d1d406;
}
.field-cell--32 {
  background: #c8ca51;
}
.field-cell--64 {
  background: #ccb255;
}
.field-cell--128 {
  background: #67b867;
}
.field-cell--256 {
  background: #40b540;
}
.field-cell--512 {
  background: #29c729;
}
.field-cell--1024 {
  background: #12de12;
}
.field-cell--2048 {
  background: #03f903;
}

.game-field {
  background: #86b5ce;
  border-spacing: 1vh;
  border-radius: 0.5vh;
}

.game-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1vh;
  box-sizing: border-box;
}

.score-record {
  width: 100%;
  height: 7.5vh;
  border-radius: 0.5vh;
  font-size: 1.8vh;
  margin: 0 0.7vh 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0b6ce2;
  color: white;
}
.score-record p {
  margin: 0;
  text-align: center;
}

#reset-record {
  font-size: 1.2vh;
  font-weight: bold;
  letter-spacing: 0.11vh;
  color: #0b6ce2;
  padding: 0.4vh 0.7vh 0.3vh 0.7vh;
  background-color: white;
  left: 0;
  bottom: 0;
  border: none;
  border-radius: 0.3vh;
}

h1 {
  background: #0b6ce2;
  color: white;
  width: 100%;
  height: 7.5vh;
  font-size: 3.4vh;
  font-weight: 900;
  letter-spacing: 0.5vh;
  border-radius: 0.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
}
h1 span {
  letter-spacing: 1.2vh;
  margin-left: 1.2vh;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #0b6ce2;
  width: 7.5vh;
  height: 7.5vh;
  border-radius: 0.5vh;
  color: white;
  box-sizing: border-box;
  font-size: 1.6vh;
  margin: 0 0.8vh 0 0;
}

.controls {
  display: flex;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-weight: 900;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 0.5vh;
  box-shadow: inset 0.2vh 0.2vh 0.2vh rgba(0, 0, 0, 0.2), inset -0.2vh -0.2vh 0.2vh rgba(0, 0, 0, 0.2);
}
.button:hover {
  filter: brightness(0.9);
}
.button:active {
  scale: 0.9;
}

.control {
  width: 7.5vh;
  height: 7.5vh;
  font-size: 1.6vh;
  color: #f9f6f2;
  transition: 0.25s ease background;
}

.start {
  background: #1dae28;
  font-size: 2vh;
}

.restart {
  background: #f87474;
  font-size: 1.8vh;
}

.arrows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35vh;
  gap: 0.6vh;
  margin-top: 2vh;
}
.arrows-row {
  display: flex;
  gap: 0.6vh;
}

.arrow {
  background: #0b6ce2;
  color: white;
  width: 7.5vh;
  height: 7.5vh;
  font-size: 2vh;
}

.message {
  box-sizing: border-box;
  width: 35vh;
  height: 6vh;
  line-height: 4vh;
  padding: 1vh;
  padding-left: 3vh;
  text-align: center;
  border-radius: 0.5vh;
  font-size: 1.9vh;
  position: absolute;
}
.message span {
  position: absolute;
  left: 0;
  transform: translate(25%, 6%);
  font-size: 4vh;
}

.hidden {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35vh;
}

.message-start {
  background: rgba(11, 108, 226, 0.3);
  color: #0b6ce2;
}

.message-win {
  background: #1dae28;
  color: #f9f6f2;
}

.message-lose {
  background: #bc452a;
  color: #f9f6f2;
}

.message-container {
  width: 100%;
}

.merged {
  position: relative;
  animation: cell 1s;
}
.merged::before {
  content: "";
  width: 10vh;
  height: 10vh;
  position: absolute;
  top: -18%;
  left: -18%;
  z-index: 2;
  background-image: url("../images/star.png");
  background-repeat: no-repeat;
  background-size: 0%;
  background-position: center;
  animation: back 1s;
}

/*# sourceMappingURL=main.css.map */
