@charset "UTF-8";
/* Линейка синих оттенков */
/* Очень светлый голубой */
/* Светло-голубой */
/* Небесно-голубой */
/* Нежно-голубой */
/* Синий */
/* Яркий синий (Dodger Blue) */
/* Васильковый */
/* Королевский синий */
/* Средне-синий */
/* Темно-синий */
/* Флотский синий */
/* Полуночный синий */
@keyframes back {
  0% {
    transform: rotateZ(0);
    background-size: 90%;
  }
  100% {
    background-size: 90%;
    transform: rotateZ(-2turn);
  }
}
@keyframes cell {
  0% {
    font-size: 0.1rem;
    color: transparent;
    background-color: rgb(19, 182, 27);
  }
  100% {
    color: transparent;
    font-size: 3rem;
    transform: rotateY(-2turn);
    background-color: rgb(19, 182, 27);
  }
}
@keyframes background-round {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
html {
  overflow: hidden;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
  overflow-y: hidden;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 900;
}

.field-cell {
  background: #87ceeb;
  width: 75px;
  height: 75px;
  border-radius: 5px;
  color: #1e90ff;
  box-sizing: border-box;
  text-align: center;
  vertical-align: center;
  user-select: none;
}
.field-cell--2 {
  background: #eee4da;
}
.field-cell--4 {
  background: #ede0c8;
}
.field-cell--8 {
  background: #f2b179;
  color: #f9f6f2;
}
.field-cell--16 {
  background: #f59563;
  color: #f9f6f2;
}
.field-cell--32 {
  background: #f67c5f;
  color: #f9f6f2;
}
.field-cell--64 {
  background: #f65e3b;
  color: #f9f6f2;
}
.field-cell--128 {
  background: #edcf72;
  color: #f9f6f2;
}
.field-cell--256 {
  background: #edcc61;
  color: #f9f6f2;
}
.field-cell--512 {
  background: #edc850;
  color: #f9f6f2;
}
.field-cell--1024 {
  background: #edc53f;
  color: #f9f6f2;
}
.field-cell--2048 {
  background: #edc22e;
  color: #f9f6f2;
}

.game-field {
  background: #86b5ce;
  border-spacing: 10px;
  border-radius: 5px;
}

.game-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 24px;
  padding: 10px;
  box-sizing: border-box;
}

h1 {
  background: #87ceeb;
  color: #1e90ff;
  width: 100%;
  height: 75px;
  font-size: 34px;
  font-weight: 900;
  letter-spacing: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
}
h1 span {
  letter-spacing: 12px;
  margin-left: 12px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #87ceeb;
  width: 75px;
  height: 75px;
  border-radius: 5px;
  color: #1e90ff;
  box-sizing: border-box;
  font-size: 16px;
  margin: 0 8px 0 0;
}

.controls {
  display: flex;
}

.button {
  width: 75px;
  height: 75px;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.7);
}
.button:active {
  scale: 0.9;
}

.control {
  color: #f9f6f2;
  transition: 0.25s ease background;
}

.start {
  background: #1dae28;
  font-size: 20px;
}
.start:hover {
  background: #179921;
}

.restart {
  background: #f1b2b2;
}
.restart:hover {
  background: #f87474;
}

.arrows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  gap: 15px;
  margin-top: 100px;
}
.arrows-row {
  display: flex;
  gap: 15px;
}

.arrow {
  background: #87ceeb;
}

.message {
  box-sizing: border-box;
  width: 350px;
  background: #87ceeb;
  color: #1e90ff;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
  position: absolute;
}

.hidden {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
}

.message-win {
  background: #1dae28;
  color: #f9f6f2;
}

.message-lose {
  color: #bc452a;
}

.message-container {
  width: 100%;
}

.merged {
  position: relative;
  animation: cell 1s;
}
.merged::before {
  content: "";
  width: 100px;
  height: 100px;
  position: absolute;
  top: -18%;
  left: -18%;
  z-index: 2;
  background-image: url("/images/star.png");
  background-repeat: no-repeat;
  background-size: 0%;
  background-position: center;
  animation: back 1s;
}

/*# sourceMappingURL=main.css.map */
