@import './variables';
@import './animations';
@import './messages.scss';
@import './buttons.scss';
@import './board.scss';
@import './header.scss';

html {
  overflow: hidden;
}

body {
  margin: 0;
  padding-top: $dpx * 15;
  display: flex;
  align-items: start;
  justify-content: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
  overflow-y: hidden;
  font-family: sans-serif;
  font-size: $dpx * 24;
  font-weight: 900;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $dpx * 350;
}

.hidden {
  display: none;
}
